@page "{type}"
@model Robinator.Core.Areas.Content.Pages.ListModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<a asp-page="./Index">Back</a><br />
<ul>
    @foreach (var content in Model.Contents)
    {
        <li><a href="@content.Link">@content.Text</a></li>
    }
</ul>
<p>
    @if (Model.PageNumber > 0)
    {
        <a asp-page="./List" asp-route-type="@Model.Type" asp-route-pageNumber="@(Model.PageNumber - 1)">Back</a>
    }
    <span>@(Model.PageNumber + 1)</span>
    @if (Model.PageNumber < (Model.Count - 1) / 10)
    {
        <a asp-page="./List" asp-route-type="@Model.Type" asp-route-pageNumber="@(Model.PageNumber + 1)">Next</a>
    }
</p>
