@page "{id}"
@model Robinator.Core.Areas.Blog.Pages.GetModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewData["Title"] = Model.BlogPost.Title + " | Blog post";
}

<header class="masthead" style="background-image: url('@Model.BlogPost.Image')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>@Model.BlogPost.Title</h1>
                    <span class="meta">
                        Posted by @Model.BlogPost.CreatedBy?.UserName on @Model.BlogPost.PublishedAt.ToString("F")
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                @Html.Raw(Model.BlogPost.Text)
            </div>
        </div>
        @(await Html.RenderComponentAsync<Robinator.Example.Components.RatingComponent>(RenderMode.Static, new { Content = Model.BlogPost }))
    </div>
</article>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="clearfix">
                <a class="btn btn-primary float-right" asp-area="Content" asp-page="/List" asp-route-type="blogpost">More Posts &rarr;</a>
            </div>
        </div>
    </div>
</div>

